<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrytsPTn3Fdyq8RipYfVu4aBSKopdSGI8</string>
	<key>GCM_SENDER_ID</key>
	<string>77945450128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.echirp</string>
	<key>PROJECT_ID</key>
	<string>echirp-25cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>echirp-25cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77945450128:ios:aea39f3f5d35b42edb3215</string>
</dict>
</plist>